
#contacto{
    margin: 25px;
    padding: 10px;
    text-align: left;
    font-size: 2rem;
    color: $coloPrincipal;
    font-weight: bold;
}



.input-group{
    margin: 10px;
}

.mb-3{
    margin: 10px;
}

.form-select{
    margin: 10px;
}

.form-floating{
    margin: 10px;
}

.form-check{
    margin: 10px;
}

.botonesForm{
    margin: 10px;
}


.imgMini{
    height: 100px;
    margin: 10px;

}